/*BODY*/

body {
	margin: 0;
	padding: 0;
}

#blogtitle {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Arial';
	font-size: 90px;
}

h3 {
	width: 900px;
	margin: 10 auto;
	text-align: center;
}

a {
	text-decoration: none;
}

#searchbar {
	float: right;
}

/*NAV BAR*/

#spacer {
	margin-top: 54px;
}

nav ul {
	position: fixed;
	top: 0px;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}

nav li {
/*Inline-block elements are like inline elements but they can have a width and a height. 
Can be used instead of float (left). Float also requires the element that comes after it
to be 'cleared'.*/
	text-align: center;
	font-family: ;
	font-size: 20px;
	float: right;
	padding: 14px 25px;
	border: 1px solid black;
}

nav li:hover {
	background-color: #ddd;
}

nav li a {
	display: inline-block;
	color: #262626;
}

nav li a:active {
	color: #fdfdfd;
}

nav li a:hover {
	text-decoration: underline;
}

nav li a:hover:not(:active) {
    background-color: #ddd;
}

/*SIGN UP FORM*/
#signupform {
	margin-left: 10px;
}

#signupform input {
	margin-top: 5px;
}

/*WRITE MSG FORM*/

#useremail {
	margin-top: 15px;
	margin-left: 15px;
	width: 300px;
}

#titlemsg {
	margin-top: 15px;
	margin-left: 15px;
	width: 500px;
}

#bodymsg {
	margin-top: 15px;
	margin-left: 15px;
	width: 500px;
	height: 300px;
}

input {
	//margin: 1px;
	padding: 0 0 0 0;
	text-align: left;
}

#submitbtn {
	margin-top: 15px;
	margin-left: 15px;
	padding: 7px;
	font-size: 15px;
}

/*SHOW MSGS TABLE*/

table {
	width: 900px;
	margin: 20 auto;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid black;
	list-style-type: none;
}

th {
	border-top: 1px solid black;
}

	/*TABLE HEADERS*/
#thuser {
	width: 150px;
	border-right: 1px solid black;
}

#thtitle {
	width: 150px;
	border-right: 1px solid black;
}

#thmessage {

}

	/*TABLE DATA*/
#tduser {
	max-width: 500px;
	padding: 5px;
	text-align: center;
}

#tdtitle {
	text-align: center;
}

#tdmessage {
	text-align: center;
	padding-left: 5px;
}