

/*LOG IN FORM*/
#loginform {
	margin-left: 10px;
}

#loginform input {
	margin-top: 5px;
}




/*SHOW MSGS TABLE*/

table {
	width: 900px;
	margin: 20 auto;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid black;
	text-align: center;
}

th {
	border-top: 1px solid black;
}

	/*INDEX TABLE*/
		/*TABLE HEADERS*/
#indextable #thuser {
	width: 150px;
}

#indextable #thtitle {
	width: 150px;
}

#thmessage {

}

	/*TABLE DATA*/
#tduser {
	max-width: 500px;
	padding: 5px;
}

#tdtitle {
}

#tdmessage {
}