#spacer 

nav
	if(user)
		ul
			li 
				a(href="/logout") log out
			li
				a(href="/postmessage") post msg
			li
				a(href="/profile") profile
			li
				a(href="/") home
			form(method="POST" action="searchresult")
				input(id="searchbarbtn" type="submit" value="search")
				input(id="searchbarbar" type="text" name="suggestion" value="Search post title or user" onfocus="this.value='';")
	else
		ul
			li
				a(href="/login") log in
			li
				a(href="/signup") sign up
			li
				a(href="/") home
			form(method="POST" action="searchresult")
				input(id="searchbarbtn" type="submit" value="search")
				input(id="searchbarbar" type="text" name="suggestion" value="Search post title or user" onfocus="this.value='';")

style
	include ../custom/navbar.css