html
	head
		title This is a blog now

	body
		include navbar.pug
		
		h1(id="blogtitle") This is a blog now
		h1(id="header2") Write a message here

		form(id="userform" method="POST" action="postmessage")
			input(name="title" type="text" value="Title" onfocus="this.value='';")
			br
			textarea(name="body" type="text" value="Content" onfocus="this.value='';") Content
			br
			input(id="userformbtn" type="submit" value="submit")

style
	include ../custom/main.css
	include ../custom/userform.css