html
	head
		title This is a blog now
	body
		include navbar.pug

		h1(id="blogtitle") This is a blog now

		h1(id="header2") #{user.name}'s user profile
		
		div(id="tablediv")
			table(id="profiletable")
				tr
					th(id="thtitle") Title
					th(id="thmessage") Message
				-for (let i = 0; i < data.rows.length; i++)
					tr 	
						td(id="tdtitle") #{data.rows[i].title}
						td(id="tdmessage") #{data.rows[i].body}

style
	include ../custom/main.css
	include ../custom/indexmsgtable.css