html
	head
	title Bulletinboard
		include custom.css
	body
		include navbar.pug

		h1 Bulletinboard exercise

		h3 All messages
		
		table
			tr
				th Message title
				th Message content
			-for (let i = 0; i < data.rows.length; i++)
				tr 	
					td #{data.rows[i].title}
					td #{data.rows[i].body}