html
	head
		title This is a blog now
	body
		include navbar.pug

		h1 This is a blog now

		h3 All messages
		
		table
			tr
				th Message title
				th Message content
			-for (let i = 0; i < data.rows.length; i++)
				tr 	
					td #{data.rows[i].title}
					td #{data.rows[i].body}
	style
		include custom.css