html
	head
		title This is a blog now

	body
		include navbar.pug
		h1 This is a blog now

		form(method="POST" action="signup" id="signupform")
			input(name="email" type="text" value="Email" onfocus="if (this.value=='Email') this.value='';")
			br
			input(name="username" type="text", value="Username" onfocus="if (this.value=='Username') this.value='';")
			br
			input(name="password" type="password" value="Password" onfocus="if (this.value=='Password') this.value='';")
			br
			input(type="submit" value="submit")
