html
	head
		title Bulletinboard

	body
		include navbar.pug
		h1 Bulletinboard exercise

		form(method="POST" action="signupuser" id="signupform")
			input(name="firstname" type="text", value="First name" onfocus="if (this.value=='First name') this.value='';")
			br
			input(name="lastname" type="text", value="Last name" onfocus="if (this.value=='Last name') this.value='';")
			br
			input(name="email" type="text" value="Email" onfocus="if (this.value=='Email') this.value='';")
			br
			input(name="password" type="text" value="Password" onfocus="if (this.value=='Password') this.value='';")
			br
			input(type="submit" value="submit")
